@import "config.scss";

.achievements {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3rem 5rem;

    .bg {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
    .heading {
        @include flex(center, center, 1rem);
        text-align: center;
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        .text {
            font-family: friendlyRobot !important;
        }
        .line {
            display: block;
            width: 400px;
            height: 0.2px;
            background: white;
        }
    }
    .achievements-container {
        position: relative;
        z-index: 1;
        .projects {
            @include flex(center, center, 5rem, column);
            & > div {
                width: 100%;
            }
        }
    }
    .projects-container,
    .articles_container {
        position: relative;
        z-index: 1;
        .projects,
        .articles {
            @include flex(center, center, 2rem);
            flex-wrap: wrap;
            & > div {
                width: 100%;
            }
        }
    }
    .certifications-container {
        position: relative;
        z-index: 1;
        .certifications {
            @include flex(center, center, 1rem, row);
            flex-wrap: wrap;
            justify-items: center;
            align-items: center;
        }
    }
    @include media(max, 550px) {
        padding: 3rem 5px;
    }
}

.achievement {
    position: relative;
    color: white !important;
    max-width: 1000px;
    height: 400px;
    .img-container {
        position: absolute;
        right: 0;
        cursor: pointer;
        display: block;
        img {
            width: 600px;
            height: 400px;
            object-fit: cover;
            object-position: top;
            border-radius: 5px;
            mix-blend-mode: multiply;
            position: relative;
            filter: grayscale(100%);
            transition: 200ms;
        }
        &::before {
            content: "";
            width: 600px;
            height: 400px;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(nth($colors, 5), 0.9);
            transition: 200ms;
            border-radius: 5px;
        }
        &:hover {
            img {
                filter: grayscale(0%);
            }
            &::before {
                background: rgba(nth($colors, 5), 0);
            }
        }
    }
    .content-container {
        position: absolute;
        max-width: 550px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include flex(start, center, 0.5rem, column);
        .heading-container {
            @include flex(start, start, 0.2rem, column);
            span {
                &:first-of-type {
                    font-weight: bold;
                }
                &.heading {
                    font-size: 24px;
                    font-weight: bold;
                    /* Align text to the left */
                    text-align: left;
                }
            }
            a {
                color: white;
                text-decoration: none;
            }
        }
        .content {
            padding: 10px;
            background: nth($colors, 2);
            border-radius: 3px;
            font-weight: 200;
            a {
                color: white;
                font-weight: 400;
                text-decoration: none;
            }
        }
        .skills {
            list-style-type: none;
            padding: 0;
            @include flex(center, start, 1rem);
            flex-wrap: wrap;
            li {
                color: nth($colors, 1);
                padding: 5px;
                border-radius: 3px;
                background: white;
            }
            .view_more {
                background-color: rgba(white, 0.3);
                cursor: pointer;
                color: white;
            }
        }
        .links {
            @include flex(center, start, 1rem);
            a {
                color: white;
                transition: 200ms;
                width: 50px;
                text-decoration: none;
                height: 50px;
                @include flex(center, center, 0);
                border-radius: 50%;
                i {
                    font-size: 24px;
                }
                &:hover {
                    color: nth($colors, 1);
                    background: nth($colors, 5);
                }
            }
        }
    }
    // EVERY SECOND ACHIEVEMENT COMPONENT
    &:nth-of-type(2n) {
        .img-container {
            left: 0;
            right: unset;
        }
        .content-container {
            right: 0;
            left: unset;
            align-items: end;
            .heading-container {
                align-items: end;
                span.heading {
                    /* Align text to the left */
                    text-align: right;
                }
            }
            .content {
                text-align: right;
            }
            .skills {
                justify-content: end;
            }
            .links {
                justify-content: end;
            }
        }
    }
    @include media(max, 720px) {
        height: 500px;
        .img-container {
            position: absolute;
            left: 0;
            img {
                height: 500px;
            }
            &::before {
                height: 500px;
                background: rgba(nth($colors, 1), 0.8);
                border-radius: 5px;
            }
        }
        .content-container {
            position: relative !important;
            padding-left: 2rem;
            .heading-container {
                & > span {
                    color: nth($colors, 5) !important;
                }
            }
            .content {
                background: none;
                padding: 0;
                font-weight: normal;
            }
        }
    }
    @include media(max, 690px) {
        .img-container {
            img {
                width: 80vw;
            }
            &::before {
                width: 80vw;
            }
        }
    }
    @include media(max, 550px) {
        @include flex(center, start, 0);
        .img-container {
            img,
            &::before {
                width: 97vw;
            }
        }
        .content-container {
            max-width: 97vw;
            padding: 0px 1rem;
            top: 0;
            transform: translateY(0);
        }
    }
    &.nigtrak-project {
        @include media(max, 308px) {
            height: 650px;
            .img-container {
                img,
                &::before {
                    height: 650px;
                }
            }
        }
    }
    &.online-auction-project {
        @include media(max, 435px) {
            height: 650px;
            .img-container {
                img,
                &::before {
                    height: 650px;
                }
            }
        }
        @include media(max, 335px) {
            height: 700px;
            .img-container {
                img,
                &::before {
                    height: 700px;
                }
            }
        }
        @include media(max, 320px) {
            height: 770px;
            .img-container {
                img,
                &::before {
                    height: 770px;
                }
            }
        }
        @include media(max, 270px) {
            height: 850px;
            .img-container {
                img,
                &::before {
                    height: 850px;
                }
            }
        }
    }
}
.project {
    max-width: 600px;
    height: 600px;
    position: relative;
    .img-container {
        position: absolute;
        left: 0;
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
            object-position: top left;
            box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
        }
        .links {
            position: absolute;
            top: 0.3rem;
            right: 0.3rem;
            padding: 0.3rem 1rem;
            border-radius: 50px;
            @include flex(center, space-between, 2rem);
            background: nth($colors, 1);
            a {
                color: white;
                font-size: 24px;
                transition: 200ms;
                &:hover {
                    transform: scale(1.15);
                }
            }
        }
        .threeD {
            position: absolute;
            top: 0.3rem;
            left: 0.3rem;
            width: 60px;
            height: 60px;
            @include flex(center, center, auto);
            border-radius: 50%;
            background: linear-gradient(to bottom right, nth($colors, 4), nth($colors, 5));
            color: nth($colors, 2);
            font-weight: bold;
            border: 10px solid nth($colors, 2);
        }
    }
    .content-container {
        position: absolute;
        right: 0;
        top: 200px;
        max-width: 350px;
        padding: 1rem;
        background: nth($colors, 5);
        box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
        border-radius: 5px;
        .heading {
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
        .skills {
            list-style-type: none;
            padding: 0;
            @include flex(center, start, 1rem);
            row-gap: 0;
            flex-wrap: wrap;
            li {
                font-size: 14px;
                color: blue;
                &:nth-of-type(2n) {
                    color: white;
                }
                &:nth-of-type(3n) {
                    color: purple;
                }
                &:nth-of-type(4n) {
                    color: red;
                }
                &:nth-of-type(5n) {
                    color: beige;
                }
            }
        }
    }
    @include media(max, 370px) {
        padding: 0.5rem;
        height: auto;
        background: nth($colors, 5);
        box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
        border-radius: 5px;
        .img-container {
            position: relative;
            img {
                width: 100%;
                height: 200px;
            }
        }
        .content-container {
            position: relative;
            top: 0;
            box-shadow: none;
            background: none;
        }
    }
}
.certification {
    position: relative;
    width: 500px !important;
    cursor: pointer;

    .img-container {
        position: relative;
        img {
            width: 500px;
            height: auto;
            border-radius: 5px;
        }
        .issued-by {
            display: none;
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        background: rgba(nth($colors, 5), 0.7);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        width: 100%;
        height: 100%;
        list-style-type: none;
        transition: 500ms;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        li {
            span {
                color: nth($colors, 1);
                transition: 500ms;
                font-size: 20px;
                &:first-of-type {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            a {
                font-size: 20px;
                transition: 500ms;
                text-decoration: none;
            }
        }
    }
    &:hover {
        .content {
            left: 50%;
            transform: translateY(200px) translateX(-50%);
            width: 80%;
            height: 300px;
            box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
            li span,
            li a {
                font-size: 16px;
            }
        }
    }
    &.mobile-certification {
        height: 550px;
        @include flex(start, center, auto);
        .content {
            left: 50%;
            transform: translateY(200px) translateX(-50%);
            width: 80%;
            height: 300px;
            box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
            li span,
            li a {
                font-size: 16px;
            }
        }
    }
    @include media(max, 590px) {
        width: 100% !important;
        .img-container {
            img {
                width: 80vw;
            }
        }
    }
    @include media(max, 550px) {
        width: 100% !important;
        .img-container {
            img {
                width: 95vw;
            }
        }
    }
    @include media(max, 360px) {
        width: 100% !important;
        padding: 0.5rem;
        background: rgba(nth($colors, 5), 0.7);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        flex-direction: column;
        height: auto !important;
        gap: 1rem;
        box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
        .img-container {
            img {
                width: 100%;
                object-fit: cover;
                box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
            }
            .issued-by {
                position: absolute;
                display: block;
                top: 0.5rem;
                right: 0.5rem;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(nth($colors, 2), 0.3);
                }
            }
        }
        .content {
            position: relative;
            left: 0 !important;
            transform: none !important;
            background: none;
            backdrop-filter: none;
            box-shadow: none !important;
            padding: 0;
            height: auto !important;
            width: 100% !important;
            img {
                display: none;
            }
        }
    }
}
.article {
    filter: drop-shadow(8px 8px 0px rgba(nth($colors, 5), 0.7));
    @include flex(stretch, start, 0, row);
    position: relative;
    max-width: 700px;
    max-height: 200px;
    transition: 350ms;
    cursor: pointer;
    * {
        transition: 350ms;
    }
    .img_container {
        border-top-left-radius: 50px;
        overflow: hidden;
        img {
            filter: grayscale(100%);
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
        .mobile_link_container {
            display: none;
        }
    }
    .content_container {
        flex: 1;
        padding: 1rem;
        font-weight: 100;
        @include flex(space-between, space-between, 1rem, column);
        background: nth($colors, 1);
        color: white;
        border-bottom-right-radius: 50px;
        a {
            text-decoration: none;
            color: white;
            font-weight: 400;
        }
        .tags_container {
            @include flex(center, start, 0.2rem);
            flex-wrap: wrap;
            font-weight: 400;
            :nth-child(1) {
                color: yellow;
            }
            :nth-child(2n) {
                color: lightgreen;
            }
            :nth-child(3n) {
                color: lightblue;
            }
        }
    }
    .link_container {
        position: absolute;
        border-radius: 50%;
        @include flex(center, center, 0);
        width: 50px;
        height: 50px;
        background: white;
        color: nth($colors, 1);
        top: -1.5rem;
        right: -1.5rem;
    }
    &:hover {
        margin-left: 3rem;
        .img_container img {
            filter: grayscale(0%);
        }
    }
    @include media(max, 830px) {
        flex-direction: column;
        max-height: fit-content;
        .content_container {
            border-radius: 20px;
            min-height: 200px;
        }
        .img_container {
            position: relative;
            @include flex(center, center, 0);
            border-top-left-radius: 0;
            height: 250px;
            img {
                width: 250px;
                height: 250px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .demo_img {
                position: relative;
                height: 250px;
            }
            .mobile_link_container {
                display: block;
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                border-radius: 50%;
                @include flex(center, center, 0);
                width: 50px;
                height: 50px;
                color: white;
                background: nth($colors, 1);
                z-index: 2;
            }
        }
        .link_container {
            display: none;
        }
        &:hover {
            margin-left: 0;
        }
    }
}
.modal {
    @include flex(start, start, 0, column);
    position: relative;
    max-width: 500px;
    height: fit-content;
    transition: 350ms;
    overflow: hidden;
    border-radius: 20px;
    background: nth($colors, 5);
    color: nth($colors, 1);
    max-height: 85vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
    }
    &::-webkit-scrollbar-thumb {
        width: 5px;
        border-radius: 2px;
        background-color: nth($colors, 1);
    }

    * {
        transition: 350ms;
    }
    .img_container {
        height: 300px;
        img {
            height: 300px;
            width: 500px;
            object-fit: cover;
            object-position: top;
        }
        .link_container {
            position: absolute;
            @include flex(center, start, 0.5rem);
            top: 0.5rem;
            right: 0.5rem;
            filter: drop-shadow(0px 0px 4px nth($colors, 2));
        }
        .link {
            border-radius: 50%;
            @include flex(center, center, 0);
            width: 40px;
            height: 40px;
            background: white;
            color: nth($colors, 1);
            text-decoration: none;
            i {
                font-size: 20px;
            }
            &.del {
                background: red;
                color: white;
            }
        }
    }
    .content {
        padding: 1rem;
        font-weight: 400;
        text-align: justify;
        @include flex(start, start, 1rem, column);
        li {
            width: 100%;
        }
    }
    .tags_container {
        padding: 1rem;
        @include flex(center, start, 0.2rem);
        flex-wrap: wrap;
        font-weight: 400;
        :nth-child(1) {
            color: darkcyan;
        }
        :nth-child(2n) {
            color: darkgreen;
        }
        :nth-child(3n) {
            color: orangered;
        }
    }
    @include media(max, 550px) {
        width: 90vw;
        .img_container img {
            width: 90vw;
        }
    }
}
