@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300&display=swap");
@import "./config.scss";

@font-face {
  font-family: "coffeeHealing";
  src: url(../fonts/CoffeeHealing-1GrKe.ttf);
}
@font-face {
  font-family: "friendlyRobot";
  src: url(../fonts/FriendlyRobot-z4Ew.ttf);
}
@font-face {
  font-family: "paintBrush";
  src: url(../fonts/Paintbrush-14Bj.ttf);
}
@font-face {
  font-family: "blockHelvetica";
  src: url(../fonts/BlockHelvetica-gxpM6.ttf);
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover {
    -webkit-text-fill-color: nth($colors, 1);
    -webkit-box-shadow: 0 0 0px 1000px rgba(black, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../assets/images/doodle.png) nth($colors, 1);
  background-size: 400px 400px;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-top: auto;
//   margin-bottom: auto;
//   font-weight: initial;
//   line-height: initial;
//   color: initial;
// }

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: Poppins;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
