@import "./config.scss";

.landing {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    img.bg {
        width: 110vw;
        height: 110vh;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
    &::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: radial-gradient(ellipse, rgba(black, 0.3) 75%, transparent);
        z-index: 2;
        display: none;
        @include media(max, 1150px) {
            display: block;
        }
    }
    .right {
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60vw;
        background: transparent;
        perspective: 1000px;
        transform-style: preserve-3d;
        img.big-splash {
            position: absolute;
            top: 0;
            right: -10rem;
            height: 120vh;
            width: auto;
        }
        img.paint-splash {
            position: absolute;
            top: 10rem;
            left: -10rem;
        }
        img.paint-splash-2 {
            position: absolute;
            top: 10rem;
            right: -10rem;
            transform: scale(0.8);
        }
        img.me {
            position: absolute;
            height: 80vh;
            width: auto;
            right: 0;
        }
        @include media(max, 800px) {
            img.me {
                left: -15rem;
                width: 850px;
                height: auto;
            }
            img.paint-splash-2 {
                top: 20rem;
                left: -40rem;
            }
        }
    }
    .heading {
        z-index: 3;
        position: relative;
        width: 60vw;
        height: 90vh;
        @include flex(start, center, auto, row);
        padding: 1rem;
        padding-left: 3rem;
        .text {
            width: 80%;
            h1 {
                font-family: "friendlyRobot";
                font-size: 100px;
                color: nth($colors, 4);
                text-shadow: 0px 0px 10px nth($colors, 2);
                span {
                    text-transform: uppercase;
                    font-family: "friendlyRobot";
                    font-size: 120px;
                    color: white;
                    text-shadow: 0px 0px 10px rgba(nth($colors, 2), 0.3);
                }
                @include media(max, 870px) {
                    color: nth($colors, 2);
                    text-shadow: 0px 0px 10px rgba(nth($colors, 4), 0.3);
                }
            }
            & > span {
                font-weight: 200;
                color: white;
                font-size: 30px;
                text-shadow: 0px 0px 10px nth($colors, 2);
                display: block;
                @include media(max, 375px) {
                    font-size: 24px;
                }
            }
            .actions {
                @include flex(center, start, 1rem);
                flex-wrap: wrap;
                .btn {
                    color: white;
                    border-color: white;
                    &:hover {
                        border-color: nth($colors, 4);
                        background-color: nth($colors, 4);
                    }
                }
            }
        }
        @include media(max, 1160px) {
            width: 100vw;
        }
        @include media(max, 550px) {
            padding-left: 0;
            .text {
                padding: 0 2rem;
                width: 100%;
                h1 {
                    font-size: 80px;
                    span {
                        font-size: 90px;
                    }
                }
            }
        }
        @include media-h(max, 825px) {
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 3px;
                border-radius: 2px;
            }
            &::-webkit-scrollbar-track {
                width: 3px;
                border-radius: 2px;
            }
            &::-webkit-scrollbar-thumb {
                width: 3px;
                border-radius: 2px;
                background: linear-gradient(to bottom, transparent, nth($colors, 3));
            }
        }
    }
}
